# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
TheOldLobo/[Ll]ibrary/
TheOldLobo/[Tt]emp/
TheOldLobo/[Oo]bj/
TheOldLobo/[Bb]uild/
TheOldLobo/[Bb]uilds/
TheOldLobo/[Ll]ogs/
TheOldLobo/[Uu]ser[Ss]ettings/
